* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Platypi", serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  min-height: 100%;
  line-height: 20px;
}

.color-light {
  color: rgb(250, 232, 235);
}
.color-blue {
  color: blue;
}

.back-im {
  background-image: url("../pic/back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
}

button {
  outline: none !important;
  border: none;
  background: 0 0;
}
button:hover {
  cursor: pointer;
}
ul,
li {
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
}
a:focus {
  outline: none !important;
}
a {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

.box99 {
  min-height: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  width: 100%;
}

.box98 {
  border: solid #21d4fd 1px !important;
  min-width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  background-image: url("../pic/hat.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.box97 {
  width: 500px;
  border: solid #21d4fd 1px !important;
  height: 500px;
  border-radius: 10px;
  position: relative;
  background-color: beige;
}
.box97 .img-con {
  height: 350px;
  width: 500px;
}
hr {
  background-color: #000000; /* Change the color to your desired value */
  height: 2px; /* Adjust the height as needed */
  border: none; /* Remove default border */
}

.hr {
  padding: 30px 30px;
}

.hrs {
  padding: 30px 30px;
}

.home-con {
  display: flex;
  height: 35rem;
  align-self: center;
  width: 90%;
  justify-content: center;
  border: solid black 1px;
  border-bottom-left-radius: 30px;
}
#home-con-con {
  height: 90%;
  align-self: center;
  width: 90%;
  border: solid black 1px;
  border-bottom-left-radius: 30px;
}
#navi {
  z-index: 9999;
  width: 100%;
  padding-top: 14px;
  text-align: center;
}
#home {
  justify-content: center;
  display: flex;
  height: 35rem;
  /* border-bottom: solid black 1px; */
}

.page-title-con {
  height: 60%;
  display: flex;
  justify-content: center;
}
.page-title {
  font-size: xxx-large;
  align-self: end;
  text-transform: capitalize;
  padding: 50px 20px;
}

.user-con {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.user-nam {
  display: flex;
  font-size: larger;
  padding: 10px;
  justify-content: center;
}
.user-im {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #000000;
}
.back-col {
  background: linear-gradient(left, #ffc40e, #b721ff);
  background: -webkit-linear-gradient(
    left,
    rgba(255, 196, 14, 0.3),
    rgba(183, 33, 255, 0.5)
  );
}
.br {
  display: block;
  height: 0%;
}
.break-box {
  font-family: "Platypi", serif;
  font-weight: 600;
  font-size: 34px;
  padding: 30px 0px;
  margin-left: 10%;
  border-bottom: solid black 3px;
  padding-top: 100px;
  border-bottom-left-radius: 10px;
}

.break-box1 {
  font-family: "Platypi", serif;
  font-weight: 600;
  font-size: 34px;
  padding: 100px;
  padding-left: 10%;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.user-co {
  align-self: center;
  height: 300px;
  width: 300px;
  text-align: center;
}
.space {
  padding-left: 3px;
}
