@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Grey+Qo&family=Lobster&family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&family=Qwigley&display=swap");

.fa-solid fa-ellipsis {
  color: #333;
  font-size: large;
}
li a {
  font-size: 11px;
  letter-spacing: 0.1rem;
  padding: 10px 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  font-weight: 700;
}
li {
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
}
.menu {
  display: none;
}
.ul {
  margin: 0px;
  width: 100%;
}
#nav {
  z-index: 9999;
  position: absolute;
  width: 100%;
  top: 0px;
  margin-top: 14px;
  text-align: center;
}
.logo {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  left: 0px;
}
#nav_side {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 7rem;
  padding-right: 7rem;
}
.icons-con {
  font-family: "Pacifico", cursive;
  animation: rubberBand 3s ease;
  width: 150px;
  color: white;
}
#icons-con {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom: solid black 1px;
}
#icons {
  font-size: 20px;
  padding-left: 3px;
}
.home {
  width: 50%;
  height: 35rem;
}
#home-con {
  display: flex;
  height: 38rem;
  background-color: beige;
  border-bottom-left-radius: 20px;
  /* border-bottom: solid black 1px; */
}
#left-home {
  position: relative;
}

#right-home {
  background-image: url("../pic/gra.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  border-bottom-left-radius: 20px;
}
