li a:hover {
  /* shadow */
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

  /* jump */
  animation: rubberBand 0.6s ease; /* Adjust the duration as needed */
}
li a:active {
  border-bottom: solid black 1px;
  padding-bottom: 3px;
  border-bottom-left-radius: 10px;
}

.fa-solid fa-ellipsis {
  color: #333;
  font-size: large;
}
li a {
  font-size: 11px;
  letter-spacing: 0.1rem;
  padding: 10px 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  font-weight: 700;
}
li {
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
}
.menu {
  display: none;
}
.ul {
  margin: 0px;
  width: 100%;
}
#nav {
  z-index: 9999;
  position: absolute;
  width: 100%;
  top: 0px;
  margin-top: 14px;
  text-align: center;
}
.logo {
  font-size: 20px;
  color: #000000;
  font-family: Lora, sans-serif;
  font-weight: 700;
  left: 0px;
}
#nav_side {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 7rem;
  padding-right: 7rem;
}
.icons-con {
  animation: rubberBand 3s ease;
  width: 150px;
  color: white;
}
#icons-con {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom: solid black 1px;
}
#icons {
  font-size: 20px;
  padding-left: 3px;
}
.home {
  width: 50%;
  height: 35rem;
}
#home-con {
  display: flex;
  /* border-bottom: solid black 1px; */
}
#right-home {
  background-image: url("../pic/gra.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  border-bottom-left-radius: 20px;
}
