.year-txt {
  min-height: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-bottom: solid #21d4fd 1px;
  padding-bottom: 3px;
  border-bottom-left-radius: 10px;
}
.year-txt h1 {
  align-self: center;
}
