.year-txt {
  gap: 20px;
  align-content: center;
  text-align: center;
  border: solid #0097b9 1px;
  padding: 10px;
  border-radius: 5px;

  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}
.year-txt h1 {
  align-self: center;
}
